<section xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
         layout:decorate="~{layout_admin.html}"
         layout:fragment="content"
         xmlns:th="https://www.thymeleaf.org">
    <form th:action="@{/admin/courses}" th:method="post" th:object="${courseForm}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="bookTitle">Titre Livre</label>
            <input type="text" id="bookTitle" class="form-control" autofocus th:field="*{title}">
        </div>
        <!--<div class="form-group">
            <label for="date">Date</label>
            <input type="date" id="date" class="form-control" th:field="*{date}">
        </div>-->
        <div class="form-group">
            <label for="location">Lieu</label>
            <input type="text" id="location" class="form-control" th:field="*{location}">
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Cours</label>
            <input type="file" name="files" accept="audio/mp3" multiple class="form-control-file" id="exampleFormControlFile1">
            <small id="files" class="form-text text-muted">Seuls les formats mp3 suivants sont autorisés</small>
        </div>
        <button class="btn btn-primary" type="submit">Enregistrer</button>
    </form>

</section>