<section xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
         layout:decorate="~{layout.html}"
         layout:fragment="content"
         xmlns:th="https://www.thymeleaf.org">

    <main role="main">
        <div class="album py-5 bg-light">
            <div class="container">
                <h2>Nouveau Cours</h2><br>
                <form action="">
                    <div class="form-group">
                        <label for="bookTitle">Titre Livre</label>
                        <input type="text" id="bookTitle" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="date" id="date" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="location">Lieu</label>
                        <input type="text" id="location" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Cours</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        <small id="files" class="form-text text-muted">Seuls les formats mp3 suivants sont autorisés</small>
                    </div>
                </form>
            </div>
        </div>
    </main>

</section>