<section xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
         layout:decorate="~{layout.html}"
         layout:fragment="content"
         xmlns:th="https://www.thymeleaf.org">

    <main role="main">
        <div class="album py-5 bg-light">
            <div class="container">
                <h2>Session cours <span th:text="${course.title}"></span></h2><br>
                <table class="table">
                    <tbody>
                    <tr th:each="media : ${course.getMedias}">
                        <td>
                        <td>
                            <!--<img th:src="${'/storage/' + media}" style="max-height: 220px">-->
                            <audio th:src="${'/storage/' + media}" controls>
                                Your browser does not support the audio element.
                            </audio>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

</section>